* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2eae2;
}

.main {
  width: 600px;
  height: 450px;
  background-color: #f2eae2;
}

.picture_mobile {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 28px;
  width: 343px;
  height: 220px;
  border-radius: 10px 10px 0 0;
}

.general {
  position: relative;
  background-color: #ffffff;
  width: 343px;
  height: 390px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: -8px;
  border-radius: 0 0 10px 10px;
}

.picture_desktop {
  display: none;
}

.type {
  position: absolute;
  width: 92px;
  height: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 5px;
  color: #6c7289;
  margin-left: 24px;
  margin-top: 30px;
}

.name {
  position: absolute;
  margin-left: 24px;
  margin-top: 57px;
  width: 295px;
  height: 64px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #1c232b;
}

.description {
  position: absolute;
  width: 295px;
  height: 92px;
  margin-left: 24px;
  margin-top: 133px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #6c7289;
}

.price {
  position: absolute;
  width: 127px;
  height: 32px;
  margin-left: 24px;
  margin-top: 250px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #3d8168;
}

.initial_price {
  position: absolute;
  width: 48px;
  height: 23px;
  margin-left: 165px;
  margin-top: 255px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  text-decoration-line: line-through;
  color: #6c7289;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 295px;
  height: 48px;
  position: absolute;
  margin-left: 25px;
  margin-top: 310px;
  background: #3d8168;
  border-radius: 8px;
  border: none;
}

.click {
  margin-left: 12px;
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

.click_img {
  margin-top: 5px;
}

@media screen and (min-width: 1440px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2eae2;
  }

  .main {
    width: 600px;
    height: 450px;
    background-color: #f2eae2;
  }

  .picture_mobile {
    display: none;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 28px;
    width: 343px;
    height: 220px;
    border-radius: 10px 10px 0 0;
  }

  .general {
    position: relative;
    background-color: #ffffff;
    width: 300px;
    height: 450px;
    margin-left: 300px;
    margin-right: 0;
    margin-top: 0;
    border-radius: 0 10px 10px 0;
  }

  .picture_desktop {
    position: absolute;
    width: 300px;
    height: 450px;
    display: block;
    border-radius: 10px 0 0 10px;
  }

  .type {
    position: absolute;
    width: 92px;
    height: 15px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 5px;
    color: #6c7289;
    margin-left: 32px;
    margin-top: 32px;
  }

  .name {
    position: absolute;
    margin-left: 32px;
    margin-top: 67px;
    width: 236px;
    height: 96px;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #1c232b;
  }

  .description {
    position: absolute;
    width: 237px;
    height: 92px;
    margin-left: 32px;
    margin-top: 187px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #6c7289;
  }

  .price {
    position: absolute;
    width: 127px;
    height: 32px;
    margin-left: 32px;
    margin-top: 308px;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #3d8168;
  }

  .initial_price {
    position: absolute;
    width: 48px;
    height: 23px;
    margin-left: 173px;
    margin-top: 313px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    text-decoration-line: line-through;
    color: #6c7289;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 236px;
    height: 48px;
    position: absolute;
    margin-left: 32px;
    margin-top: 370px;
    background: #3d8168;
    border-radius: 8px;
    border: none;
  }

  .click {
    margin-left: 12px;
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
  }

  .btn:hover {
    cursor: pointer;
    background-color: #1a4032;
  }
}
